.time-ani {
    width: 100vw;
  }
  .time-ani .container {
    height: 250vh;
    border: 1px solid #ccc;
    position: relative;
  }
  .time-ani .container .twig {
    position: fixed;
    top: 0;
    width: calc(var(--scroll-position-normal) * 1%);
    height: 20px;
    background-color: yellow;
  }
  .time-ani .container .root .ex {
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    transition: all 0.5s;
    transform: translate(calc(var(--scroll-state) * 100%));
  }
  .time-ani .container .root .counter {
    position: fixed;
    padding: 15px;
    width: 300px;
    background-color: #fff;
    border: 1px solid royalblue;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    counter-reset: pos1 calc(var(--scroll-position-normal) * 1) pos2 calc(var(--scroll-position-tardiness) * 1) speed calc(var(--scroll-speed) * 1) direction calc(var(--scroll-direction) * 1) state calc(var(--scroll-state) * 1);
  }
  .time-ani .container .root [data-id=pos1]::after {
    content: "--scroll-position-normal：" counter(pos1);
  }
  .time-ani .container .root [data-id=pos2]::after {
    content: "--scroll-position-tardiness：" counter(pos2);
  }
  .time-ani .container .root [data-id=speed]::after {
    content: "--scroll-speed：" counter(speed);
  }
  .time-ani .container .root [data-id=direction]::after {
    content: "--scroll-direction：" counter(state);
  }
  .time-ani .container .root [data-id=state]::after {
    content: "--scroll-state：" counter(direction);
  }